[submodule "trailblazer_backend"]
	path = trailblazer_backend
	url = https://github.com/Abbe-and-Gabbe/trailblazer_backend
[submodule "trailblazer_frontend"]
	path = trailblazer_frontend
	url = https://github.com/Abbe-and-Gabbe/trailblazer
